@font-face {
    font-family: 'MuseoCyrlFont';
    src: url('https://DimitrovYordan.github.io/statichtml/Museo_Cyrl_500.ttf')
  }

  /* Add padding to container */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
  }

  h1 {
    font-family: 'MuseoCyrlFont';
    text-align: center;
    color: #003665;
    size: 50px;
    height: 60px;
    font-size: 50px;
    position: relative;
    top: -100px;
  }

  .sub-header {
    margin-top: -80px;
    width: 100%;
    display: block;
  }

  /* Center the avatar image inside this container */
  .header img {
    float: right;
  }

  .clearfix {
    display: block;
  }

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* Set a style for all inputs */
  ::placeholder {
    color: #003665;
  }

  input[type=text],
  input[type=password] {
    font-family: 'MuseoCyrlFont';
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 8px 16px 8px 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #003665;
    box-sizing: border-box;
    text-align: center;
  }

  /* Set a style for all buttons */
  button {
    background-color: #00AEEF;
    font-family: 'MuseoCyrlFont';
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* The "Forgot password" text */
  .forgoten-pass-container {
    text-align: center;
  }

  span.forgoten-pass {
    font-weight: bold;
    color: #00AEEF;
    cursor: pointer;
  }

  /* Set style footer */
  .footer-container {
    margin-top: 80px;
  }

  /* Set style for warning message */
  .warning-message {
    font-family: 'MuseoCyrlFont';
    text-align: center;
    color: #003665;
    font-size: 16px;
  }